@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --background: 240 100% 99%; /* Ghost White */
    --foreground: 0 0% 3.9%;
    --card: 240 100% 99%; /* Ghost White */
    --card-foreground: 0 0% 3.9%;
    --popover: 240 100% 99%; /* Ghost White */
    --popover-foreground: 0 0% 3.9%;
    --primary: 137 100% 37%; /* Dark Pastel Green */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 240 10% 96%;
    --secondary-foreground: 0 0% 9%;
    --muted: 240 10% 96%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 240 10% 96%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 90%;
    --input: 240 5% 90%;
    --ring: 0 0% 3.9%;
    --chart-1: 137 100% 37%; /* Dark Pastel Green */
    --chart-2: 240 100% 99%; /* Ghost White */
    --chart-3: 276 50% 15%; /* Dark Purple */
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 276 50% 15%; /* Dark Purple */
    --foreground: 0 0% 98%;
    --card: 276 50% 15%; /* Dark Purple */
    --card-foreground: 0 0% 98%;
    --popover: 276 50% 15%; /* Dark Purple */
    --popover-foreground: 0 0% 98%;
    --primary: 137 100% 37%; /* Dark Pastel Green */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 276 40% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 276 40% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 276 40% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 276 40% 20%;
    --input: 276 40% 20%;
    --ring: 0 0% 83.1%;
    --chart-1: 137 100% 37%; /* Dark Pastel Green */
    --chart-2: 240 100% 99%; /* Ghost White */
    --chart-3: 276 50% 15%; /* Dark Purple */
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 276 50% 15%; /* Dark Purple */
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 137 100% 37%; /* Dark Pastel Green */
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 276 40% 20%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 276 40% 20%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
